body {
        background-color: rgb(241, 243, 243);
        background: linear-gradient(to bottom, rgb(148, 54, 0), rgb(0, 247, 255));
        background-repeat: no-repeat;    
        height: 100vh; 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
}
.contenedor {
    display: flex;
    flex-direction: row;  
} 

.elemento {
    font-size: 40px;
}